@using SkaiMovies.Models
@using SkaiMovies.Data



<h3>MoviePageComponent</h3>
<div class="row gx-0 flex">
	<div class="moviePage">
		<img class="poster" src="https://image.tmdb.org/t/p/w500/@movie.Poster" alt="Movie Poster" />
		<button>+ Adicionar à coleção</button>
	</div>
	<div class="col-10 info">
		<h1><b>@movie.Title</b> <span style="font-size:20px">(@movie.Date)</span></h1>

		<div class="flex">
			<img class="star " src="star-removebg-preview.png" alt="8.8" />
			<p>@movie.Voting</p>
			<br /><br />
		</div>
		
		<p>@movie.Synopsis</p>
		<div>
			<p><b>Género: </b>
				@foreach (var category in movie.Category)
				{
					<span>@category.Name</span>
					@if (category != movie.Category.Last()) 
					{
						<span>, </span>
					}
				}
			</p>
			<p><b>Duração: </b>@movie.Runtime min</p>
			<p><b>País: </b>@movie.Country[0]</p>
		</div>
	</div>
</div>
 

@code {
	[Parameter]
	public Movie movie { get; set; }
}
